@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

/* .container-fluid a:visited{
position: relative;
} */

.logo{
    max-width: 5rem;
}

.hero{
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/11139373/pexels-photo-11139373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat:no-repeat; 
    height: 70vh;
    position: relative;
    background-position: center ;
}

.hero:before {
    content: "";
    background-color: rgba(0, 0, 0, 0.8); /* Set the opacity value (0.5 in this example) */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.hero-content {
    position: relative;
    z-index: 1;
    /* Center the content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    color: #fff; 
    padding-right: 10rem;
  }

/* .container{
    margin-right:20px;
    text-align: right;
    background-image: linear-gradient(to right,#3b3b3b,#cac6bb );
    width:830px;
    height: 600px;
    margin-top:-25px ;
} */

/* img {
    max-width: 70px;
}

p{
    float: right;
    font-size: 30px;
    width: 800px;
}
h1{
    font-size: 90px;
    color: #3541b4; 
} */
.btnn{
    background-color: #0014c7; 
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
