body{
    text-align: center;
    color: white;
    font-family:Montserrat;
    background-image: linear-gradient(to right, #522B39,#D2AC58, #F1E4B2);
}


.container-fluid a:visited{
position: relative;
color: #522B39;
}

.container{
flex-wrap: wrap;
}

img {
    max-width: 60px;

}

p{
    text-align: center;
    font-size: 30px;
}
h1{
    font-size: 100px;
}
